{% extends 'base.html.twig' %}

{% block title %}Les questions{% endblock %}

{% block body %}
<h1>
    {{page_title|upper}}
</h1>
<div class="container">
  <div class="row">
    {% for question in questions %}
    <div class="col col-6">
        <div class="card border-primary mb-3">
        <div class="card-header">
            <a href="{{path('category',{id:question.category.id})}}">{{question.category.name|upper}}</a>
            <span class="badge badge-secondary float-right"><a href="{{path('tag',{id:question.tag.id})}}">{{question.tag.name|upper}}</a></span>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{question.createdAt|date("d/m/Y")}}</h4>
            <p class="card-text">{{question.title}}</p>
            <button type="button" class="btn btn-outline-primary float-right">
                <a href="{{path('show_question',{id:question.id})}}">Voir les réponses</a>
            </button>
        </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
